/* heading */

.animated-underline::after {
  content: "";
  position: absolute;
  left: 0;
  border-radius: 5px;
  z-index: -10;
  bottom: 0; 
  width: 0;
  height: 5px; 
  background-color: var(--underline-accent);
  transition: width 0.8s ease-out;
  animation: drawUnderline 1s forwards;
  animation-delay: 0.1s;
}

@keyframes drawUnderline {
  to {
    width: 100%;
  }
}

/* ServiceCard.css */

.skeleton-container {
  position: absolute;
  inset: 0;
  z-index: 10;
  background-color: #e5e7eb; /* gray-200 */
  overflow: hidden;
}

.skeleton-slant {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(255, 255, 255, 0.4) 50%,
    transparent 100%
  );
  animation: slide-slant 1.5s infinite linear;
}

@keyframes slide-slant {
  0% {
    transform: translateX(-150%) skewX(-45deg);
  }
  100% {
    transform: translateX(150%) skewX(-45deg);
  }
}

/* Custom Typography Classes */
.main-heading.new-font {
  letter-spacing: -0.02em;
}